<section id="team" class="bgLightGrey">
    <div class="content-center">
        <h2>Usuarios Registrados </h2>
    </div>
    <div class="container">

        <div class="row">

            <div *ngFor="let user of usersService.users" style="color: aliceblue;" class="col-md-4">
                <div class="member-container">
                    <div class="member-details">
                        <h5>{{user.name}} {{user.lastname}}</h5>
                        <span>{{user.email}}</span><br>
                        <span>{{user.card}}</span>
                        <ul class="list-inline">
                            <li style="cursor: pointer;" class="list-inline-item"><a
                                    (click)="deleteUser(user._id,userForm)"><i class="fas fa-trash"></i></a></li>
                            <li data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;"
                                class="list-inline-item"><a (click)="updateUser(user)"><i
                                        class="fas fa-pencil-alt"></i></a></li>
                            <div style="color: black;" class="modal fade" id="exampleModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Formulario</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form #userForm="ngForm" (ngSubmit)="putUser(userForm)">
                                                <input type="hidden" name="_id" #_id="ngModel"
                                                    [(ngModel)]="usersService.selectUser._id">
                                                <div class="row">
                                                    <div class="mb-3 col-6 form-group">
                                                        <label for="exampleInputEmail1"
                                                            class="form-label">Nombre</label>
                                                        <input type="text" name="name" #name="ngModel"
                                                            [(ngModel)]="usersService.selectUser.name"
                                                            placeholder="Enter your FullName" class="form-control">


                                                    </div>
                                                    <div class="mb-3 col-6 form-group">
                                                        <label for="exampleInputEmail1"
                                                            class="form-label">Apellido</label>
                                                        <input type="text" name="lastname" #name="ngModel"
                                                            [(ngModel)]="usersService.selectUser.lastname"
                                                            placeholder="Enter your FullName" class="form-control">


                                                    </div>
                                                    <div class="mb-3 form-group">
                                                        <label for="exampleInputEmail1" class="form-label">Email</label>
                                                        <input type="text" name="email" #name="ngModel"
                                                            [(ngModel)]="usersService.selectUser.email"
                                                            placeholder="Enter your FullName" class="form-control">

                                                    </div>
                                                    <div class="mb-3 form-group">
                                                        <label for="exampleInputPassword1"
                                                            class="form-label">Celular</label>
                                                        <input type="text" name="card" #name="ngModel"
                                                            [(ngModel)]="usersService.selectUser.card"
                                                            placeholder="Enter your ci" class="form-control">
                                                    </div>

                                                    <button class="btn btn-outline-info"
                                                        data-bs-dismiss="modal">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <img style="border-radius:10px;" src="../../../assets/images/avatar2.jpg" class="img-fluid"
                        alt="member 1">

                </div>
            </div>


        </div>
    </div>
</section>