<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="../../assets/images/login.jpg" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="" class="logo">
                        </div>
                        <form id="loginform" autocomplete="off" [formGroup]="registerForm" (ngSubmit)="crearUsuario()">

                            <h3 class="box-title">Regístrate ahora</h3>
                            <div class="form-group">

                                <input class="form-control" type="text" placeholder="Name" formControlName="nombre">

                            </div>
                            <div class="form-group ">

                                <input class="form-control" type="text" placeholder="Email" formControlName="email">

                            </div>
                            <div class="form-group ">

                                <input class="form-control" type="password" placeholder="Password"
                                    formControlName="password">

                            </div>
                            <div class="form-group">

                                <input class="form-control" type="password" placeholder="Confirm Password"
                                    formControlName="password2">

                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="checkbox checkbox-primary p-t-0">

                                        <input id="checkbox-signup" type="checkbox" formControlName="terminos">

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col text-danger">

                                    <p *ngIf="campoNoValido('nombre')">* El nombre es obligatorio</p>
                                    <p *ngIf="campoNoValido('email')">* El email es obligatorio y tiene que ser
                                        válido</p>
                                    <p *ngIf="contrasenasNoValidas()">* Las contraseñas deben de ser iguales</p>
                                    <p *ngIf="aceptaTerminos()">* Debe de aceptar los términos de uso</p>

                                </div>
                            </div>

                            <div class="form-group text-center">

                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">Registrarse</button>

                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <p>¿Ya tienes una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Iniciar
                                                Sesión</b></a></p>
                                </div>
                            </div>
                        </form>
                        <p class="login-card-footer-text">Si ya tienes cuenta <a style='cursor: pointer;'
                                class="text-reset" routerLink="/login">Logeate aqui!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>