    <div class="main-container">
        <header class="page-title-container">
            <h1 class="page-title-container__title">404 NOT FOUND</h1>
        </header>

        <div class="center-container">
            <img class="center-container__scarecrow-img" src="../../../assets/images/casa-ntf.jpg" alt="Scare Crow">
            <div class="center-container__info-error">
                <h1 class="info-error__h1">Se nos cayo la casa!!!!</h1>
                <p class="info-error__paragraph">La pagina que buscas esta temporalmente fuera de servicio</p>
                <button class="back-home-button" id="">Regresar a inicio</button>
            </div>
        </div>

        
    </div>

