{{#if user}}
<div class="container p-4">
    <div class="col-md-12" style="margin-bottom: 5px; ">
        <div class="card text-center border border-primary">
            <h3 class="card-title text-uppercase" style="color: rgb(44, 142, 253);">
                Cursos
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="card border border-primary">
                <div class="card-body">
                    <video poster="/images/logo.jpeg" autoplay loop controls class="card-img-top" tabindex="0" style="height: 200px;">
                        <source src="/videos/videos-courses/not-found/not-found.mp4"/>
                    </video>
                    <p class="card-title text-uppercase text-center m-1" style="color: rgb(44, 142, 253); ">
                    </p>
                    <p class="m-2"> </p>

                    <p class="m-2">
                    </p>
                    <p class="m-2">
                    </p>
                    <p class="m-2 text-center">

                    </p>
                    <a class="btn btn-danger" href="">
                        <i class="fa-solid fa-trash-can"></i>
                        Delete
                    </a>
                    <a class="btn btn-secondary" href="">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Edit
                    </a>
                </div>
            </div>
        </div>

    </div>
    {{else}}
    <h1>logueate papu</h1>
    {{/if}}