h1{
    color: rgb(0, 119, 255);
}

.borde{
    border: 1px solid rgb(161, 203, 252);
}
.borde2{
    border: 1px solid rgb(161, 203, 252);
    border-radius: 10px;
    width: 325px;
    margin: 1%;
}

img{
    border-bottom: 1px  solid rgb(161, 203, 252);
}