{{#if success}}

<div class="alert alert-light alert-dismissible fade show mx-auto text-center  border-success" role="alert"
    style="color: rgb(10, 119, 0);">
    <img src="https://c.tenor.com/BntXpMlrGuEAAAAC/check-correct.gif" class="card-img-top" alt="...">
    {{success}}
    <button class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
</div>

{{/if}}