<body id="body-pd">
    <div class="container">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="header_toggle">
<p>{{user.name}}</p>
            </div>
            <div class="header_img">
                {{#if user.profile_image}}
                <img src="{{user.profile_image}}" loading="lazy" alt="User Profile">
                {{else}}
                <img src="/not-found-image.png"  alt="..." alt="User Profile">
                {{/if}}
            </div>
            <div>
                <a href="/signin" class="btn btn-primary">
                    <span class="nav_name">Login/Registro</span>
                </a>
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="/" class="nav_logo"> <i class="fa-solid fa-earth-americas"
                            style="color: aliceblue;"></i><span class="nav_logo-name">Earth</span> </a>

                    <div class="nav_list">
                        <a href="/" class="nav_link active">
                            <i class='fas fa-home nav_icon'></i>
                            <span class="nav_name">Dashboard</span>
                        </a>
                        <a href="/links/profile" class="nav_link">
                            <i class='fa-solid fa-address-card nav_icon'></i>
                            <span class="nav_name">Profile</span>
                        </a>
                        <a href="/links/users-services" class="nav_link">
                            <i class='fa fa-file nav_icon'></i>
                            <span class="nav_name">Services</span>
                        </a>
                        <a href="/links" class="nav_link">
                            <i class='bx bx-user nav_icon'></i>
                            <span class="nav_name">Users</span>
                        </a>
                    </div>
                </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
                        class="nav_name">SignOut</span> </a>
            </nav>
        </div>
    </div>
    <!--Container Main start-->