<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="Users.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="borde">
        <center>
        <h1>hello</h1>
        <p> aqui va texto muy zukulento</p>
    </center>
        <div  class="row" style="padding-left: 2%;">

            <div class="borde2">
                <img src="https://cdn-3.expansion.mx/dims4/default/ab40255/2147483647/strip/true/crop/1080x810+0+0/resize/1800x1350!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F86%2F5e%2Fd5336e0a4aa787c9c26c1ae1fedd%2F94104200-159001265434249-4166170262459156135-n.jpg"
                    style="width: 300px; border-top-left-radius: 10px; border-top-right-radius: 10px;" alt=""><br>
                <p>Nombre:</p>
                <p>Informacion:</p>
            </div>
            <div class="borde2">
                <img src="https://cdn-3.expansion.mx/dims4/default/ab40255/2147483647/strip/true/crop/1080x810+0+0/resize/1800x1350!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F86%2F5e%2Fd5336e0a4aa787c9c26c1ae1fedd%2F94104200-159001265434249-4166170262459156135-n.jpg"
                    style="width: 300px; border-top-left-radius: 10px; border-top-right-radius: 10px;" alt=""><br>
                <p>Nombre:</p>
                <p>Informacion:</p>
            </div>
            <div class="borde2">
                <img src="https://cdn-3.expansion.mx/dims4/default/ab40255/2147483647/strip/true/crop/1080x810+0+0/resize/1800x1350!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F86%2F5e%2Fd5336e0a4aa787c9c26c1ae1fedd%2F94104200-159001265434249-4166170262459156135-n.jpg"
                    style="width: 300px; border-top-left-radius: 10px; border-top-right-radius: 10px;" alt=""><br>
                <p>Nombre:</p>
                <p>Informacion:</p>
            </div>
            <div class="borde2">
                <img src="https://cdn-3.expansion.mx/dims4/default/ab40255/2147483647/strip/true/crop/1080x810+0+0/resize/1800x1350!/format/webp/quality/90/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F86%2F5e%2Fd5336e0a4aa787c9c26c1ae1fedd%2F94104200-159001265434249-4166170262459156135-n.jpg"
                    style="width: 300px; border-top-left-radius: 10px; border-top-right-radius: 10px;" alt=""><br>
                <p>Nombre:</p>
                <p>Informacion:</p>
            </div>

        </div>
        
    </div>


</body>

</html>