<div class="wrapper">
    <div class="page-header">
        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h1 class="profile-title text-left">Mike Scheinder</h1>
                    <h5 class="text-on-back">01</h5>
                    <p class="profile-description">
                        Offices parties lasting outward nothing age few resolve. Impression
                        to discretion understood to we interested he excellence. Him
                        remarkably use projection collecting. Going about eat forty world
                        has round miles.
                    </p>
                    <div class="btn-wrapper profile pt-3">
                        <a class="btn btn-icon btn-twitter btn-round mr-1" href="https://twitter.com/creativetim"
                            target="_blank">
                            <i class="fab fa-twitter"> </i>
                        </a>
                        <a class="btn btn-icon btn-facebook btn-round mr-1" href="https://www.facebook.com/creativetim"
                            target="_blank">
                            <i class="fab fa-facebook-square"> </i>
                        </a>
                        <a class="btn btn-icon btn-dribbble btn-round" href="https://dribbble.com/creativetim"
                            target="_blank">
                            <i class="fab fa-dribbble"> </i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid rounded-circle" src="../../../assets/profiles/mike.jpg" />
                            <div class="info info-horizontal">
                                <div class="icon icon-danger">
                                    <i class="tim-icons icon-mobile"> </i>
                                </div>
                                <div class="description">
                                    <h4 class="info-title">Datos</h4>
                                    <p>
                                        Michael Jordan <br />

                                        +40 762 321 762 <br />

                                        Mon - Fri, 8:00-22:00
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>