<div class="wrapper">
    <div class="page-header">
        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h1 class="profile-title text-left">{{user.name}}</h1>
                    <h5 class="text-on-back">01</h5>
                    <p class="profile-description">
                        Offices parties lasting outward nothing age few resolve. Impression
                        to discretion understood to we interested he excellence. Him
                        remarkably use projection collecting. Going about eat forty world
                        has round miles.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-coin card-plain">
                        <div class="card-header">
                            <img class="img-center img-fluid rounded-circle" src="../../../assets/profiles/mike.jpg" />
                            <li data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;"
                                class="list-inline-item"><a><i class="fas fa-pencil-alt"></i></a></li>
                            <div style="color: black;" class="modal fade" id="exampleModal" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Actualizar informacion</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <form>
                                                    <div class="row">
                                                        <div class="mb-3 col-6">
                                                            <label for="exampleInputEmail1"
                                                                class="form-label">Nombre</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1" aria-describedby="emailHelp">

                                                        </div>
                                                        <div class="mb-3 col-6">
                                                            <label for="exampleInputEmail1"
                                                                class="form-label">Apellido</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1" aria-describedby="emailHelp">

                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="exampleInputEmail1"
                                                                class="form-label">Email</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1" aria-describedby="emailHelp">

                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="exampleInputPassword1"
                                                                class="form-label">Celular</label>
                                                            <input type="text" class="form-control"
                                                                id="exampleInputPassword1">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Imagen de perfil</label>
                                                            <input class="form-control" type="file" id="formFile">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary"
                                                            data-bs-dismiss="modal">Guardar</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info info-horizontal">
                            <div class="icon icon-danger">
                                <i class="tim-icons icon-mobile"> </i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Datos</h4>
                                <p>
                                    {{userId.email}}<br />

                                    +40 762 321 762 <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>