<section>
    <div class="text-container">
        <p>Hola mi nombre es</p>
        <p>I'M TOUSEEQ</p>
        <P>I am software enginner <br>& designer</P>
        <!-- <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
        </div> -->
        <!-- <button class="hire-btn">Cambiar foto</button>
        <button class="down-cv"> Download cv</button> -->
        <div class="picture">
            <div class="input-group ">
                <input type="file" class="form-control " id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload">
                <button class="btn btn-success" type="button" id="inputGroupFileAddon04">Subir foto</button>
            </div>

            <!-- <button class="hire-btn">Cambiar foto</button> -->
        </div>
    </div>
    <img src="../../../assets/profiles/james.jpg" alt="model" class="model">


</section>
<!-- <div class="about-container">
    <img src="../../../assets/profiles/james.jpg" alt="model" class="">
    <div class="about-text">
        <p>About me</p>
        <p>Devolper & Desinger</p>
        <p>hole, mi nombre es.......</p>
        <p>soy arquitecto</p>
        <button>Hire me </button>
        <button>Download cv </button>
    </div>
</div>
<div class="services">
    <div class="services-text">
        <p>services</p>
        <p>services required </p>
        <p>texto</p>
        <p>texto</p>
        <div class="box-container">
            <div class="box-1">
                <span>1</span>
                <p class="heading">Web Desinger</p>
                <p class="details">detalles</p>
                <button>Leer mas</button>
            </div>
            <div class="box-2">
                <span>2</span>
                <p class="heading">Web Desinger</p>
                <p class="details">detalles</p>
                <button>Leer mas</button>
            </div>
            <div class="box-3">
                <span>3</span>
                <p class="heading">Web Desinger</p>
                <p class="details">detalles</p>
                <button>Leer mas</button>
            </div>
        </div>

    </div>
</div>
<div class="contact-me">
    <p>Si tienes un proyecto en mente</p>
    <button>Contacta me</button>
</div> -->