<section id="hola">
  <div class="contenedor-centro topmargin-lg">
    <h2 class="title123">El futuro de la construcción es hoy! </h2>

    <!-- <a href="#portfolio" class="ocultar-visualmente2">Ir al contenido</a> -->
  </div>

  <div class="posicion-btn">
    <a href="http://geoportal.quito.gob.ec/smiq/" target="_blank" class="btn-neon">
      <span id="span1"></span>
      <span id="span2"></span>
      <span id="span3"></span>
      <span id="span4"></span>
      Mapa de Catastro
    </a>
  </div>
</section>

<section id="portfolio">
  <div class="container-fluid">
    <div class="content-center">
      <h2>Hearth <b>Arquitectura.</b></h2>
      <p>El presente trabajo de investigación, Grado de Afectación de la Ley de Plusvalía en el sector
        Inmobiliario de la Construcción, fue escogido como tema con el objetivo de determinar el impacto que se
        ha generado con la implementación de la nueva ley, es decir la evaluación del impuesto sobre el valor
        especulativo del suelo impuesto al país.</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="https://www.ecp.ec/" target="_blank">
              <h2>ECP</h2>
            </a>
            <a href="https://www.ecp.ec/" target="_blank">
              <p>—Entidad Colaboradora de Proyectos</p>
            </a>
          </div>
          <img src="../../../assets/images/mapa.jpg" class="img-fluid" alt="Portfolio 01">
        </div>
      </div>
      <div class="col-md-6">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="https://pam.quito.gob.ec/mdmq_web_irm/irm/buscarPredio.jsf" target="_blank">
              <h2>Predios</h2>
            </a>
            <a href="https://pam.quito.gob.ec/mdmq_web_irm/irm/buscarPredio.jsf" target="_blank">
              <p>— Consulta de Predios</p>
            </a>
          </div>
          <img src="../../../assets/images/casa3d.jpg" class="img-fluid" alt="Portfolio 02">
        </div>
      </div>
      <div class="col-md-6">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a
              href="https://territorio.maps.arcgis.com/apps/webappviewer/index.html?id=a505264a91b24856972fb4b278076c7e" target="_blank">
              <h2>Mapa Predial</h2>
            </a>
            <a href="https://territorio.maps.arcgis.com/apps/webappviewer/index.html?id=a505264a91b24856972fb4b278076c7e" target="_blank">
              <p>— Secretaria de Territorio</p>
            </a>
          </div>
          <img src="../../../assets/images/render.jpg" class="img-fluid" alt="Portfolio 03">
        </div>
      </div>
      <div class="col-md-6">
        <div class="portfolio-container">
          <div class="portfolio-details">
            <a href="https://pam.quito.gob.ec/PAM/Inicio.aspx" target="_blank">
              <h2>PAM</h2>
            </a>
            <a href="https://pam.quito.gob.ec/PAM/Inicio.aspx" target="_blank">
              <p>— Portal de Servicios Municipales</p>
            </a>
          </div>
          <img src="../../../assets/images/catas.jpg" class="img-fluid" alt="Portfolio 04">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team" class="bgLightGrey">
  <div class="container">
    <div class="content-center">
      <h2>Analisis <b>e Informacion</b></h2>
      <p>La compra de departamentos para obtener una renta mensual destaca como una de las opciones ideales para
        generar un flujo de rendimiento constante.
        Para el análisis, se tomaron en cuenta departamentos de 2 o 3 habitaciones con un área entre 20 a 300 m²
        disponibles en oferta desde el inicio de 2021 hasta el 31 de mayo.
      </p>

    </div>
  </div>
</section>

<section class="tm-mb-1" id="about">
  <div class="tm-row tm-about-row">
    <div class="tm-section-1-l">
      <img src="../../../assets/images/comparto-image-01.jpg" alt="About image" class="tm-img-responsive">
    </div>
    <article class="tm-section-1-r tm-bg-color-8">
      <h2 class="tm-mb-2 tm-title-color">Vision</h2>
      <p><a rel="nofollow" target="_parent">Se ha evaluado el grado de afectación de la Ley de plusvalía, mediante
          el análisis de unos ejemplos como de casos de estudio, así mismo se utilizó el método BID en el cual
          se realizó entrevistas y se pudo evidenciar con criterios de eficiencia, efectividad y
          sostenibilidad que hubo un impacto negativo desde que la ley fue anunciada hasta su vigencia.
          Esta investigación evalúa el grado de afectación de la ley orgánica para evitar la especulación
          sobre el valor de las tierras y fijación de tributos en el sector Inmobiliario de la Construcción en
          el Ecuador vigente desde enero de 2017, con lo que permite determinar el impacto real desde el punto
          de vista por parte de los implicados los mismos que en su mayoría promueven el desarrollo económico
          del país.
        </a>




    </article>
  </div>
</section>