<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/pages/contenido">
        <img src="../../../assets/images/earth_PNG33.png" width="30" height="30" class="d-inline-block align-top"
            alt="">
        Earth
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" routerLink="/pages/contenido" routerLinkActive="active"><i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/pages/profiles" routerLinkActive="active"><i class="far fa-user"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)='auth.Logout()'><i class="fas fa-sign-out-alt"></i></a>
        </li>
    </ul>
</nav>