<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/earth_PNG33.png" width="30" height="30" class="d-inline-block align-top"
            alt="">
        Earth
    </a>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contenido</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Acerda de.</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)='auth.Logout()'>Cerrar Session</a>
        </li>
        <!-- <li class="nav-item">
            <i class="fas fa-user navbar-brand"></i>
        </li> -->
    </ul>
</nav>